<html class="meh">
    <head>
        <link rel="stylesheet" href="/static/wordstyle.css">
    </head>
    <body class="meht">
        {% block navbar %}
        <nav>
            <h1 align="center" width = 100%>Word Finder Program by Gavin Doebbert</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}
    </body>
    <nav>
            <h4  align="center" width = 100%>For Github Link:  <a href="https://github.com/Solusive2/CSCI">Click Here</a></h4>
    </nav>
</html>