{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div align="center">
    <br>
    <br>
    <form action="/words" method="post">
        {{ wform.hidden_tag() }}
        {{ render_field(wform.avail_letters) }}
        <br>
        <br>
        <br>
        {{ render_field(wform.pattern)}}
        <br>
        <br>
        <br>
        {{ render_field(wform.wlen) }}
        <br>
        <br />
        {{wform.submit()}}
        <br>
        {{ wform.hidden_tag() }}
        {% if reg %}
        <ul class=errors>
        <li class="error">{{ reg }}</li>
        </ul>
        <br>
        <br>
        <br>
        {% endif %}
    </form>
</div>
{% endblock %}