{% extends "base.html" %}
{% block content %}
<div id = "cont" onclick="getElementById('cont').style.visibility = 'hidden'" class = "out">
		<h2 id = "title" class ="up">Definition</h2>
		<br>
		<ul id = "pop" class ="up">		
		</ul>
</div>
<main class="meh">
    {% for word in wordlist: %}
        <div onclick="dict(this)" class="wordbox">{{ word }}</div>
    {% endfor %}
</main>
<script type="text/javascript">

        async function dict(obj) {
        	   let init = {
                    method: 'GET'
                }
        	let resp = fetch("/proxy/" +obj.innerText, init);
        	resp.then(function (w) {
    		var b = w.json();
    		b.then(function (g) {
    				var u = g; 
    				//obj.innerHTML = 
        	//console.log(u)//[0].sseq[0][0][1].dt))
        	
        	var head = document.querySelector("#title");
        	head.innerHTML = "Definition of:  " + obj.innerText
        	var list = document.querySelector("#pop");
        	pop.innerHTML = ""

        	var cont = document.querySelector("#cont");
        	cont.style.visibility="visible";
        	//head.style.visibility= "visible";
        	//pop.style.visibility= "visible";
        	if(u.length == 20){
        		var li = document.createElement("p");
        		li.innerHTML = "Definition not Found";
        		list.appendChild(li);
        		li.classList.add("def");

        		li = document.createElement("p");
        		li.innerHTML = "Similar Words:";
        		list.appendChild(li);
        		li.classList.add("def");
        		for (var i = 0; i < 20; i++) {
        		li = document.createElement("li");
        		li.innerHTML = u[i];
        		list.appendChild(li);
        		li.classList.add("def");
        		}
        		return
        	}
        	if (typeof u[0].def === 'undefined'){
        		var li = document.createElement("li");
        		li.innerHTML = "Error occured while finding Definition";
        		list.appendChild(li);
        		li.classList.add("def");
        		return
        	}

        	u = JSON.stringify(u[0].def)
        	//var u = u.replace(" ", "W3Schools");
        	var loc = u.search('"sense",{')
        	//alert(loc)
        	u = u.slice(loc+9)
        	//alert(u)
        	while(u.search('"sense",{') != -1){
        		var loc = u.search('"sense",{')
        		var temp = u.slice(0,loc)
        		//alert(temp)
        		temp = temp.slice(temp.search('"text","')+8)
        		temp = temp.slice(0,temp.search('"'))
        		//temp = temp.replace(/^{}$/g,"")
        		if(temp.search("{dx_def}") != -1){
        		  var x1 = temp.slice(0,temp.search('{dx_def}'))
        		  temp = x1 + temp.slice(temp.search('{/dx_def}')+9)
        		}

        		if(temp.search("{d_link") != -1){
        		  var x1 = temp.slice(0,temp.search('{d_link'))
        		  temp = temp.slice(temp.search('{d_link')+8)
        		  temp = x1 + temp.slice(temp.search(/\|/)+1)
        		}
        		temp = temp.replace(/:1}/g,"")
        		temp = temp.replace(/{bc}/g,"")
        		temp = temp.replace(/{wi}/g,"")
        		temp = temp.replace(/{wi\\\/}/g,"")
        		temp = temp.replace(/{wi\\\/}/g,"")
        		temp = temp.replace(/{sx\|/g,"(")
        		temp = temp.replace(/\|\|}/g,")")
        		temp = temp.replace(/\|\|/g,")")
        		temp = temp.replace(/{/g,"")
        		temp = temp.replace(/}/g,"")
        

        		var li = document.createElement("li");
        		li.innerHTML = temp;
        		list.appendChild(li);
        		li.classList.add("def");

        		u = u.slice(loc+9)
        	}
        		//var temp = u.slice(0,loc+8)
        		var temp = u
        		//alert(temp)
        		temp = temp.slice(temp.search('"text","')+8)
        		temp = temp.slice(0,temp.search('"'))
        		//temp = temp.replace(/^{}$/g,"")
        		if(temp.search("{dx_def}") != -1){
        		  var x1 = temp.slice(0,temp.search('{dx_def}'))
        		  temp = x1 + temp.slice(temp.search('{/dx_def}')+9)
        		}

        		if(temp.search("{d_link") != -1){
        		  var x1 = temp.slice(0,temp.search('{d_link'))
        		  temp = temp.slice(temp.search('{d_link')+8)
        		  temp = x1 + temp.slice(temp.search(/\|/)+1)
        		}
        		temp = temp.replace(/:1}/g,"")
        		temp = temp.replace(/{bc}/g,"")
        		temp = temp.replace(/{wi}/g,"")
        		temp = temp.replace(/{wi\\\/}/g,"")
        		temp = temp.replace(/{wi\\\/}/g,"")
        		temp = temp.replace(/{sx\|/g,"(")
        		temp = temp.replace(/\|\|}/g,")")
        		temp = temp.replace(/\|\|/g,")")
        		temp = temp.replace(/{/g,"")
        		temp = temp.replace(/}/g,"")
        

        		var li = document.createElement("li");
        		li.innerHTML = temp;
        		list.appendChild(li);
        		li.classList.add("def");
  
        	})
    		})
        }
</script>
{% endblock %}
